

h1 {
  font-family: 'Bagel Fat One', sans-serif;
 
}
h5 {
  font-family: 'Bagel Fat One', sans-serif;
 
}
h3 {
  font-family: Cambria;
}
h4 {
  font-family: Cambria;
}
section {
  margin-bottom: 100px;
}
input[type="text"]::placeholder {

  color: rgba(0, 179, 255, 0.351);
}
#alert-logout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.5); /* Fond semi-transparent noir pour le flou */
  backdrop-filter: blur(6px); /* Flou appliqué à l'arrière-plan */
  z-index: 1100; /* Placez l'arrière-plan au-dessus de tout sauf la boîte de dialogue */
  
}
.cursor-pointer {
  cursor: pointer;
}
.icon-disabled {
  opacity: 0.5; /* Vous pouvez ajuster cette valeur selon vos préférences */
  pointer-events: none; /* Désactive les interactions avec l'icône */
}
.hidden-element {
  display: none !important;
}
.unvisible {
  display: none !important;
}
.cl-green {
  color: #00ff00;
}
.cl-gray {
  color: #878585;
}
.cl-white {
  color: #ffffff;
}
.cl-blue {
  color: #173da5;
}
.cl-text {
  color: #888888;
}
.bg-blur {
  backdrop-filter: blur(80px);
  border-radius: 10px;
}
.custom-icon {
  color: #36caf1; /* Couleur par défaut */
  transition: color 0.4s ease; /* Transition de couleur sur 0.3 secondes avec une fonction d'accélération */
}
.custom-icon:hover {
    color: #004ac0; 
}
.custom-icon-footer {
  color: #ffffff; /* Couleur par défaut */
  transition: color 0.4s ease; /* Transition de couleur sur 0.3 secondes avec une fonction d'accélération */
}
.custom-icon-footer:hover {
    color: #004ac0; 
}

.hover-logo {
  display: none;
}
.image-container:hover .normal-logo {
  display: none;
}
.image-container:hover .hover-logo {
  display: inline-block; /* ou display: block; selon le besoin */
}
