Django==3.2.4
djangorestframework
psycopg2 # for postgres
djangorestframework-simplejwt==4.6
Pillow # for image upload
django-cors-headers # for cors
twilio # for sms
phonenumbers # for phone number validation
pyotp # for otp application authenticator
django-oauth-toolkit # for oauth2
