Django==3.2.4
djangorestframework
# sudo dnf install postgresql-devel
psycopg2 # for postgres
djangorestframework-simplejwt==4.6
Pillow # for image upload
django-cors-headers # for cors
twilio # for sms
phonenumbers # for phone number validation
pyotp # for otp application authenticator
requests-oauthlib # for oauth2
django-prometheus # for prometheus - monitoring